* {
    box-sizing: border-box;
}


.header {
    padding: 10px;
    text-align: left;
    background: rgb(0, 75, 14);
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 187, 255, 0.311);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    background-color: #ffffff;
    width: 25%;
    padding: 0 10px;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
